.p-1-1, .p-1-2, .p-2-7, .p-3-5, .p-4-1, .p-4-2, .p-4-5 {
	border: 1px solid red;
}

.r-1-1, .r-1-5, .r-2-7, .r-3-6, .r-4-1, .r-4-2, .r-4-8 {
	border: 1px solid red;
}

.col {
	padding: 0;
}

@media(max-width: 767px) {
	.perks img {
		width: 35px;
		height: 35px;
	}
	li {
		font-size: 0.8em;
	}
	.b-return {
		font-size: 1em;
	}
}