* {
	box-sizing: border-box;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

body {
	background: url(../images/bg.jpg);
	background-size: cover;
}

.main {
	padding-bottom: 20px;
}

.container {
	background-color: white;
	border-radius: 25px;
}

.nav {
	margin-top: 50px;
}

.b-return {
	display: block;
	align-items: flex-end;
}

h3 {
	text-align: center;
	margin: 50px;
}

.row {
	margin: 20px 0;
}

p {
	text-align: center;
}

.col {
	text-align: center;
	padding: 0;
}

.col p {
	font-weight: bold;
}

.p-2>p {
	margin: 0 2px;
}

.perks {
	width: 100%;
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
}

.copyright {
	text-align: center;
}

@media(max-width: 767px) {
	.perks img {
		width: 35px;
		height: 35px;
	}
	li {
		font-size: 0.8em;
	}
	.b-return {
		font-size: 1em;
	}
	.col-md-auto {
		
		text-align: center;
		border: 1px solid black;
	}
}