* {
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

body {
	background: url(../images/bg.jpg);
	background-size: cover;
}

header {
	margin-top: 20px;
}

.head {
	border-radius: 25px 25px 0 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background-color: white;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

.buttons {
	display: inline-block;
	margin-bottom: 20px;
}

.btn {
	width: 92px;
	height: 65px;
	margin: 2px;
}

.b_usa {
	background-image: url("../images/nations/Wows_flag_USA.png");
}

.b_jap {
	background-image: url("../images/nations/Wows_flag_Japan.png");
}

.b_ussr {
	background-image: url("../images/nations/Wows_flag_Russian_Empire_and_USSR.png");
}

.b_ger {
	background-image: url("../images/nations/Wows_flag_Germany.png");
}

.b_uk {
	background-image: url("../images/nations/Wows_flag_UK.png");
}

.b_fra {
	background-image: url("../images/nations/Wows_flag_France.png");
}

.b_ita {
	background-image: url("../images/nations/Wows_flag_Italy.png");
}

.b_panasia {
	background-image: url("../images/nations/Wows_flag_Pan_Asia.png");
}

.b_panam {
	background-image: url("../images/nations/Wows_flag_Pan_America.png");
}

.b_common {
	background-image: url("../images/nations/Wows_flag_Commonwealth.PNG");
}

.b_pol {
	background-image: url("../images/nations/Wows_flag_Poland.png");
}

.logo h1 {
display: inline-block;
text-align: right;
font-family: 'IM Fell English SC', serif;
font-size: 40px;
}

.nations {
	text-align: center;
	font-size: 24px;
}

#usa, #japan, #ussr, #germany, #uk, #france, #italy, #panasia, #panam, #common, #poland {
		width: 100%;
	max-width: 1200px;
	margin: auto;
	text-align: center;
	font-size: 24px;
	display: none;
	background-color: white;
}

.copyright {
		width: 100%;
	max-width: 1200px;
	
	
	height: 35px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 0 0 25px 25px;
}

.row {
	margin-bottom: 20px;
}

main img {
	width: 171px;
	height: 101px;
}

p {
		font-size: 14px;
		text-align: center;
		margin: 0;
}